@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}
.bgi{
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(/public/bgi.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.logo{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  margin-bottom: 20px;
}
.logo img{
  width: 90px;
  border-radius: 50%;
}
.header{
  color: white;
}
ul{
  display: flex;
  list-style: none;
  justify-content: center;
}
hr{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(201, 197, 197, 0.568);
}
li{
  padding: 25px;
}
.text{
  margin-top: 60px;
  margin-left: 120px;
  color: whitesmoke;
}
.text h4{
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 10px;
}
.text h1{
  font-size: 2.9rem;
  font-weight: bold;
}
.text h5{
  line-height: 1.5;
  font-size: 0.8rem;
  font-weight: lighter;
}
.btn-1{
  border: 1px solid white;
  color:  white;
  padding: 17px;
  background-color: #002241;
  transition: 0.2s;
}
.btn-1:hover{
  background-color: black;
}
.menu-bar{
  width: 55px;
  display: none;
}
.title{
  text-align: center;
  margin: 30px 0;   
}
.list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.list button {
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  padding: 40px 70px;
  border: 1px solid white;
}
.btn-2{
  background-color: red;
  color: white;
}
.page2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
.menu-list{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 15px;
}
.one,.two,.three,.four,.five,.six{
  padding: 30px;
  width: 100%;
  background-color: rgba(236, 230, 230, 0.699);
  border-radius: 5px;
  margin-bottom: 15px;
}
.list1{
  display: flex;
  justify-content: space-between;
}
.menu-list h4:nth-child(2){
  color: red;
}
.main{
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.btnbtn{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}
.cards{
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}





@media screen and (max-width:900px) {
  li{
    display: none;
  }
  .menu-bar{
    display: block;
    padding: 10px;
  }  
  .text{
    padding: 10px;
    margin: 0;
  }
  h4{
    font-size: 1rem;
  }
  h1{
    font-size: 2rem;
  }
  h5{
    font-size: 0.7rem;
  }
  .list button{
    width: 250px;
  }
  hr{
    display: none;
  }
}